.cabeza{
    background-color: #0F1E29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
}

.cabeza input{
    margin-left: 25px;
    font-size: large;
    width: 250px;
    
}

.cabeza button{
    background-color: transparent;
    border: none;
    height: 64px;
    width: 84px;
    padding: 0px;
}

.titledude{
    font-weight:bolder;
    font-size:3.5em;
    color: #f7b731;
    
} 

.navbar{
    height:  var(60px);
    padding: 0 1rem;
    border-bottom: var(1px);
    
   
}
.navbar-bar{
    display: flex;
}
.navbar-nav{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    
}
.nav-item{
    width: calc(60px * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.icon-button{
    --button-size: calc(60px * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #f7b731;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.icon-button:hover{
    filter: brightness(1.2);
}

.icon-button svg{
    fill: black;
    width: 20px;
    height: 20px;
}

.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60px;
    width: 100px;
    transform: translateX(-45%);
    background-color:white;
    border: 1px;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
 

}

.menu-item{
  height: 60px;
  display: flex;
  text-decoration: none;
  align-items: center;  
  border-radius: 8px;
  transition: background var(500ms);
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.menu-item:hover{
    background-color: white;
}
.icon-right {
    margin-left: auto;
  }

.menu{
    width: 100%;
}
