.ultra.div{
    display: flex;
    width: 100%;
    overflow-y: hidden;
    background: #f7b731;
}

.items{
    display: grid;
    background: #f7b731;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 2fr 3fr;
    grid-gap: 10px 50px;
    height: 100vh;
    padding: 10px;
   
}

.chat{
    background:#0F1E29;
    grid-row: 2;
    justify-content: center;
    align-items: center;
   
}
 
.grupos{
    background: #0F1E29;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
   
}

.conec{
    background: #0F1E29; 
    grid-column: 4;   
   
}
