
.App {
  text-align: center;
  font-size: 200px;
}

body{
  background: #f7b731;
  font-family: 'Poppins', sans-serif;
  font-family: 'Public Sans', sans-serif;
  font-family: 'Shadows Into Light', cursive;
}






